<div class="athlete-dashboard-header">
    <div class="header-text">
        <MudText Typo="Typo.h5" Class="welcome">@WelcomeLabel, @AthleteName</MudText>
        <MudText Typo="Typo.body2" Class="meta">@CoachLabel: @CoachName</MudText>
        <MudText Typo="Typo.body2" Class="meta">@GymLabel: @GymName</MudText>
    </div>
    <VoltAvatar Initials="@GetInitials(AthleteName)" Size="Size.Large" AltText="@AthleteName" />
</div>
